.hero {
   background: linear-gradient(182.83deg, #eeaf48 -29%, #ee7d48 143.65%);
}

.cardText {
   font-size: 13px;
}

.cardHeading {
   font-size: 22px;
}

.titleBar {
   margin-block: 80px;
}

.titleTag {
   color: #067bc2;
   font-size: 12px;
   text-decoration: none;
   border-radius: 25px;
}


.universityTitle {
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   color: #067bc2;
}

.universityFname {
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 134%;
   color: #000000;
}
