.hero {
  background: linear-gradient(182.83deg, #eeaf48 -29%, #ee7d48 143.65%);
}
.cardtext {
  font-size: 13px;
}
.cardheading {
  font-size: 22px;
}

.card1{
    position: relative;
}

.titleBar{
    position: relative;
    margin-block: 80px;
}

.titleTag{
    color: #067bc2;
    font-size:12px;
    text-decoration: none;
    border-radius: 25px;
}

.shape{
    position: absolute;
    left: 0;
    background-color: #067bc2;
    height: 30px;
    width: 8px;
    border-radius: 2px;
}
.unviversitytitile{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #067BC2;

}
.universityfname{

font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 134%;
color: #000000;

}
